.home {
  background-color: var(--white-color);
}

.home .home-header {
  padding: 0 2rem;
  box-shadow: 0 8px 6px -6px var(--grey-color);
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: var(--white-color);
}

.home h2 {
  color: var(--primary-color);
  margin: 0;
  padding-top: 10px;
}

.home h3 {
  margin: 0
}

.home-main {
  width: 58%;
  padding: 10px 0;
  position: relative;
  left: 15%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 60px);
  margin: 0;
}

.right-sidebar {
  border-left: 1px solid var(--black-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
  height: 100vh;
  position: fixed;
  left: 72%;
  background-color: var(--offwhite-color);
}

.right-sidebar .sort-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-sidebar .sort-post h3 {
  color: var(--black-color);
}

.post-card {
  padding: 10px;
  display: flex;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 500px;
  height: 300px;
  margin-bottom: 1rem;
}

.post-votes-section i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.post-details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-created-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}
.post-heading {
  font-weight: bolder;
  font-size: 1.5rem;
}
.post-tags {
  display: flex;
  gap: 1rem;
}
.tag {
  color: var(--primary-color);
  background-color: var(--lightgrey-color);
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 2px;
}
.post-icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
